
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,600&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito Sans', sans-serif;
}


/* HEADER */

.header {
    height: 80px;
    width: 100%;
    padding: 0px 50px ;
    box-shadow:  0px 8px 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white ;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 100px;
}

.navbar label {
    display: none;
}

.header img {
    height: 90%;
}

.navbar_link {
    text-decoration: none;
    color: #84a59d;
    font-weight: 400px;
    padding: 7px 13px;
    border-radius: 30px;
}

.navbar_link:hover {
    background: #f5cac3;
    transition: .5s;
    color: #bd1414;
    font-weight: 700;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle_menu {
    display: none;
}

/* FIN HEADER */

/* HERO */

#hero {
    margin-top: 80px;
    font-family: 'Nunito Sans', sans-serif;;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero  {
    background-image: url(/assets/imagenhero/svetlana-gumerova-YZ76ky4-eYs-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero_inner h1 {
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: rgb(116, 18, 18);
    text-transform: uppercase;
    letter-spacing: 8px;

    animation: text 3s 1;

}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -20px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}

.hero_inner h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #f5cac3;
}

.hero_inner .btn {
    display: block;
    width: 200px;
    border: 3px solid black;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
    font-size: 15px;
    border-radius: 50px;
    color: rgb(116, 18, 18);
    font-weight: bold;
    background-color:#84a59d;

    transition: all 0.3s ease 0s;
    letter-spacing: 2.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero_inner .btn:hover {
    background-color: #433a3f;
    box-shadow: 0px 15px 20px #84a59d;
    color: #f5cac3;
    transform: translateY(-7px);
}

.hero_inner .btn:active {
    transform: translateY(-1px);
}

/* FIN HERO */

/* SERVICIOS */

#services {
    background: #f5cac3;
    text-align: center;
}

#services h3 {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #84a59d;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.cen {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service {
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;

}

.service:hover {
    background: #84a59d;
}

.service img {
    width: 50px;
    margin-bottom: 20px;
}

.service h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    font-family:'Poppins', sans-serif;
}

.service p {
    color: #433a3f;
    font-weight: 500;
    font-size: 13px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    
}

/* FIN SERVICIOS */

/* ABOUT */

#about {
    width: 100%;
    padding: 78px 0px;
    background-color: #84a59d;
}

.about_content img {
    width: 420px;
    height: auto;
}

.about_text {
    width: 550px;
}

.about_content {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_text h3 {
    color:#bd1414;
    font-size: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.about_text h4 {
    color:#f7c1b8;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about_text p {
    color: #433a3f;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
}

.button_contact {
    background: #bd1414;
    color: #f5cac3;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px;
    border-radius: 20px;
    transition: .4s;
}

.button_contact:hover {
    background: transparent;
    border: 2px solid #bd1414;
    cursor: pointer;
}

.about_text span {
    color: #bd1414;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* FIN ABOUT */

/* FOOTER */

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    color: #433a3f;
}

.main_content {
    display: flex;
    padding: 10px 20px;
}

.main_content h2 {
    font-size: 20px;
    font-weight: 700;
    font-family:'Nunito Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px; 
    border-bottom: #bd1414 solid 1px;
    padding: 10px;
    width: 100%;
}

.left_box, .right_box, .center_box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.left_box p {
    text-align: justify;
    margin-bottom: 50px;
    margin-right: 80px;
    font-size: 15px;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.main_content .social a {
    padding: 0 15px;
}

.main_content .social a i {
    height: 40px;
    width: 40px;
    background-color: #bd1414;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    transition: .4s;
}

.main_content .social a i:hover {
    background: #1d1b1c;
    color: #bd1414;
}

.center_box .content {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center_box i {
    color:#bd1414;
}

.center_box .content img {
    width: 200px;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 50px;
}

/* FORM */

.content form {
    background-image: url(/assets/imagenabout/asiaturismo.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 10px auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: 700;
    
}

.content .label {
    color: #1d1b1c;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content input {
    color: #433a3f;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content .btn_form {
    margin-top: 20px;
    border: 2px solid transparent;
    background: #fff;
    color: #bd1414;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    width: 100px;
    cursor: pointer;
    
}

.content .btn_form:hover {
    box-shadow: 0 12px 16px 0 #1d1b1c;
}



/* FIN FORM */
    
.copyright {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;

}
.copyright span {
    font-weight: 500;
    letter-spacing: 2px;
    font-family:cursive;
}

.copyright i {
    color: #bd1414;
}

/* FIN FOOTER */

/* mediaqueries */

@media (max-width:576px) {
    .navbar {
        z-index: 2;
        top: 0;
    }
    .navbar ul {
        background-color: #433a3f;
        width: 70%;
        height: 50vh;
        position: absolute;
        top: 80px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
        font-size: 25px;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        gap: 50px;
        font-weight: 700;
        border-bottom: 5px solid #84a59d;
        border-left: 5px solid #84a59d;
        border-right: 5px solid #84a59d;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .header {
        width: 100%;
        justify-content:space-around;
    }

    .navbar i {
        display: block;
    }

    .navbar label {
        display:flex;
    }

    #toggle_menu:checked + .navbar_list {
        transform: translateX(0);
        transition: all 0.4s ease-in;
    }

    #hero {
        max-width: 100%;
        width: 100%;
        height: 350px;
        background-position-x:left;
        background-position-y:top;
        background-size: 700px;
        justify-content: center;
        align-items: center;
    }

    .hero_inner .btn {
        background-color: #84a59d;
    }

    .hero-presentation p {
        max-width: 100%;
    }


    #services {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px;
        text-align: center;
    }

    .service {
        width: 100%;
        padding: 5px;
    }

    #about {
        width: 100%;
        height: 1000px;
        padding: 0;
    }

    .about_content {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .about_content img {
        width: 300px;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .about_text {
        width: 80%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    

    .main_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .left_box p {
        justify-content: center;
        width: 100%;
    }

    .main_content .copyright {
        width: 100%;
        font-size: 12px;
        font-weight: 300;
    }
    
}



@media (max-width: 992px) {
    .hero-presentation {
        text-align: center;
        width: 90%;
        align-items: center;
    }

    .hero-presentation h1 {

    }

    .service {
        width: 50%;
    }

}


@media (max-width: 1200px) {
 
}