@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,600&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito Sans', sans-serif;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.header {
    height: 80px;
    width: 100%;
    padding: 0px 50px ;
    box-shadow:  0px 8px 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white ;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 100px;
}

.navbar label {
    display: none;
}

.header img {
    height: 90%;
}

.navbar_link {
    text-decoration: none;
    color: #84a59d;
    font-weight: 400px;
    padding: 7px 13px;
}

.navbar_link:hover {
    color: #84a59d;
    width: 100%;
    font-weight: 700;
}

.navbar_link::before {
    margin-left: auto;
  }
  
  .navbar_link::after, .navbar_link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .navbar_link:hover::after, .navbar_link:hover::before {
    width: 100%;

  }

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle_menu {
    display: none;
}

.container  {
    background: #433a3f;
    box-shadow:0px 0px 10px #84a59d;
    max-width: 800px;
    width: 800px;
    padding: 25px 40px 10px 40px;
    margin-top: 100px;

}

.container .text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container form {
    padding: 30px 0 0 0 0;
}

.container form .form_row {
    display: flex;
    margin: 32px 0;
}

form .form_row .input_data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

.form_row .input_data  input {
    color: #faaca8;
}

form .form_row .textarea {
    height: 70px;
}

.input_data input, .textarea textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #f5cac3;
    background: #433a3f;
    color: #faaca8;
}

.input_data input:focus ~ label, 
.input_data input:valid ~ label {
    transform:  translateY(-20px);
    color: #faaca8;
    font-size: 14px;
}


.textarea textarea {
    resize: none;
    padding-top: 10px ;
}


.input_data label {
    position:absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
    letter-spacing: 2px;
    color: #faaca8;
    transition: .3s ease;
}

.textarea label {
    width: 100%;
    bottom: 40px; 
}


.submit_btn .input_data {
    overflow: hidden;
    height: 45px;
    width: 25%;
    border-radius: 20px;
}

.submit_btn .input_data .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    transition: all .4s;
    border-radius: 20px;
}



.submit_btn .input_data input {
    background: none;
    border: none;
    color: #433a3f;
    font-family: 'Poppins', sans-serif;;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
}

.submit_btn .input_data:hover input {
    background: -webkit-linear-gradient(to left, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    transition: .4s ease;
}


@media (max-width:576px) {
    .navbar {
        z-index: 2;
        top: 0;
    }
    .navbar ul {
        background-color: #433a3f;
        width: 90%;
        height: 60vh;
        position: absolute;
        top: 80px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
        font-size: 25px;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        gap: 20px;
        font-weight: 700;
        border-bottom: 5px solid #84a59d;
        border-left: 5px solid #84a59d;
        border-right: 5px solid #84a59d;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .header {
        width: 100%;
        justify-content:space-around;
    }

    .navbar i {
        display: block;
    }

    .navbar label {
        display:flex;
    }

    #toggle_menu:checked + .navbar_list {
        transform: translateX(0);
        transition: all 0.4s ease-in;
    }

    .main_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left_box p {
        justify-content: center;
        width: 100%;
    }

    .main_content .copyright {
        width: 100%;
        font-size: 12px;
        font-weight: 300;
    }
}

@media (max-width:700px) {
    .container .text {
        font-size: 30px;
    }

    .container form {
        padding: 10px 0 0 0;
    }

    .container form .form_row {
        display: block;
    }

    form .form_row .input_data{
        margin: 35px 0
    }

    .submit_btn .input_data {
        width: 40%;
    }
}



@media (max-width:768px) {
    .navbar {
        z-index: 2;
        top: 0;
    }
    .navbar ul {
        background-color: #433a3f;
        width: 70%;
        height: 50vh;
        position: absolute;
        top: 80px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
        font-size: 25px;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        gap: 50px;
        font-weight: 700;
        border-bottom: 5px solid #84a59d;
        border-left: 5px solid #84a59d;
        border-right: 5px solid #84a59d;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}