@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,600&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito Sans', sans-serif;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.container  {
    background: #433a3f;
    box-shadow:0px 0px 10px #84a59d;
    max-width: 800px;
    width: 800px;
    padding: 25px 40px 10px 40px;

}

.container .text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container form {
    padding: 30px 0 0 0 0;
}

.container form .form_row {
    display: flex;
    margin: 32px 0;
}

form .form_row .input_data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form_row .textarea {
    height: 70px;
}

.input_data input, .textarea textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #f5cac3;
    background: #433a3f;
}

.input_data label {
    position:absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
}

.textarea label {
    width: 100%;
    bottom: 40px;
    
}

/* HEADER */

/* .header {
    height: 80px;
    width: 100%;
    padding: 0px 50px ;
    box-shadow:  0px 8px 24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white ;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 100px;
}

.navbar label {
    display: none;
}

.header img {
    height: 90%;
}

.navbar_link {
    text-decoration: none;
    color: #84a59d;
    font-weight: 400px;
    padding: 7px 13px;
    border-radius: 30px;
}

.navbar_link:hover {
    background: #f5cac3;
    transition: .5s;
    color: #bd1414;
    font-weight: 700;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle_menu {
    display: none;
}

FIN HEADER */

/* FORM */



/* body {
    background-color: #433a3f;
}

.container_form{
    width: 100%;
    background-color:#1d1b1c;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bd1414;
}

.container_form form {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 25px 30px;
}



.list_form {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.container_form li .textarea {
    display: flex;
    flex-direction: column;
}

.list_form label {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e65555;
    letter-spacing: 2px;

}

.list_form input {
    background-color: #433a3f;
    padding: 10px;
    border:none;
    border-bottom: 2px solid #f5cac3;
    color: #f5cac3;
}

.list_form input:focus {
    border: none;
    background-color: #433a3f;
} */

@media (max-width:576px) {
    .navbar {
        z-index: 2;
        top: 0;
    }
    .navbar ul {
        background-color: #433a3f;
        width: 70%;
        height: 50vh;
        position: absolute;
        top: 80px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
        font-size: 25px;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        gap: 50px;
        font-weight: 700;
        border-bottom: 5px solid #84a59d;
        border-left: 5px solid #84a59d;
        border-right: 5px solid #84a59d;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .header {
        width: 100%;
        justify-content:space-around;
    }

    .navbar i {
        display: block;
    }

    .navbar label {
        display:flex;
    }

    #toggle_menu:checked + .navbar_list {
        transform: translateX(0);
        transition: all 0.4s ease-in;
    }

    .main_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left_box p {
        justify-content: center;
        width: 100%;
    }

    .main_content .copyright {
        width: 100%;
        font-size: 12px;
        font-weight: 300;
    }
}


@media (max-width:768px) {
    .navbar {
        z-index: 2;
        top: 0;
    }
    .navbar ul {
        background-color: #433a3f;
        width: 70%;
        height: 50vh;
        position: absolute;
        top: 80px;
        right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
        font-size: 25px;
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        gap: 50px;
        font-weight: 700;
        border-bottom: 5px solid #84a59d;
        border-left: 5px solid #84a59d;
        border-right: 5px solid #84a59d;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}